<div class="add-item">
    <h1>Todos</h1>
    <input type="text" [(ngModel)]="title" placeholder="What needs to be done?" (keyup.enter)="addItem(title)">
    <button (click)="addItem(title)">Add</button>
    <input type="checkbox" #allSelected class="select-all" (click)="changeAll(allSelected.checked)">
    <div class="error">
        {{valid}}
    </div>


    <hr>
    <div class="item" *ngFor="let todo of todos">
        <div class="delete-todo" (click)="deleteTodo(todo.id)">X</div>
        {{'completed:' + todo.completed}}
        <input type="checkbox" [(ngModel)]="todo.completed"
               class="status" (change)="save(todo)"
               [ngClass]="{'check': !todo.completed}">
        <div [ngClass]="{ 'dash': todo.status}">
            <div class="name">
                <span style>{{todo.title}}</span>
            </div>
            <div class="id">
                <span style>{{todo.id}}</span>
            </div>
        </div>
        <button (click)="getTodo(todo.id)">Get this todo</button>
        <hr>
    </div>
    <button class="clear-btn" *ngIf="getCompleted().length" (click)="clearComplete()">Clear completed</button>
    <div class="left-items" *ngIf="getRemaining().length > 0">
        <strong>{{getRemaining().length}}</strong>
        {{ getRemaining().length === 1 ? 'item' : 'items'}} left
    </div>
</div>